<html>
    
<div class="maincontainer">
    <div class="itemstyle">
    <div class="row" style="margin-left:10px">
    <div class="col-2">
    <img src="/images/tiger3.png" style="width:80%;"/>
    </div>
    <div class="col-2">
    <img src="/images/khichdi2.png" style="width:80%;"/>
    </div>
    <div class="col-2">
    <img src="/images/12th.png" style="width:80%;"/>
    </div>
    </div>
  </div>
  </div>
 </div>
</div>
</html>